* { 
    box-sizing: border-box;
}

html, body, ul {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    background-image: url(february.jpg);
    overflow: hidden;
    background-size: cover;
}

.blockk {
    width: 380px;
    height: 250px;
    background-color: rgba(60, 88, 15, 0.8);
    margin-right: 5%;
    border-radius: 5px;
    margin-top: 150px;
    transition: all 1s ease 0s;
}

.blockk:hover {
    width: 400px;
    height: 280px;
    border: 5px solid brown;
}

.block {
    display: flex;
    justify-content: center;
}

.block__text {
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.block__title {
    font-size: calc(2vh + 1rem);
    font-weight: bold;
    margin: 0;
    animation: subtitle 1s alternate infinite;
    -webkit-animation: subtitle 1s alternate infinite;
}

@keyframes subtitle {
    0% {
        color: #661616;
    }

    100% {
        color: #0c3808;
    }
}

.block__info {
    background-color: rgba(135, 148, 134, 0.8);
    width: 610px;
    margin-left: 400px;
    margin-top: 200px;
}

.block__img {
    width: 200px;
    height: 200px;
}

.block__img-wrap {
    animation: star 5s infinite alternate;
    -webkit-animation: star 5s infinite alternate;
}

@keyframes star {
    0% {
        transform: rotate(0deg) scale(0.1);
        -webkit-transform: rotate(0deg) scale(0.1);
        -moz-transform: rotate(0deg) scale(0.1);
        -ms-transform: rotate(0deg) scale(0.1);
        -o-transform: rotate(0deg) scale(0.1);
    }

    10% {
        transform: rotate(0deg) scale(0.1);
        -webkit-transform: rotate(0deg) scale(0.1);
        -moz-transform: rotate(0deg) scale(0.1);
        -ms-transform: rotate(0deg) scale(0.1);
        -o-transform: rotate(0deg) scale(0.1);
    }

    80% {
        transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -o-transform: rotate(45deg) scale(1);
    }

    100% {
        transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -o-transform: rotate(45deg) scale(1);
    }
}


